<div>
  <label class="purple">
    <input [value]="2" [(ngModel)]="sh" name="sh" type="radio" [checked]="!isChecked" /> Fetch From Twitter
  </label>
  <label class="purple">
    <input [value]="1" [(ngModel)]="sh" name="sh" type="radio" [checked]="isChecked" /> List
  </label>
  <br>
  <label class="purple">
    <input [value]="0" [(ngModel)]="sh" name="sh" type="radio" [checked]="!isChecked" /> Add
  </label>

</div>
<div *ngIf="sh == 1">
<div>
<button class="btn btn-danger" (click)="getTweets()">Big fat button to fetch tweets</button>
</div>
<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Source</th>
        <th scope="col">Text</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let tweet of tweets">
      <th scope="row"></th>
      <td>{{tweet.source}}</td>
      <td>{{tweet.text}}</td>
    </tr>
  </tbody>
  </table>
</div>
</div>

<div *ngIf="sh == 0">

  <form [formGroup]="tweetForm" (ngSubmit)="onSubmit(tweetForm)">
    <div>
      <label>
        Source:
        <input formControlName="source" placeholder="Your name">
      </label>
    </div>
    <div>
      <label>
        Email:
        <input formControlName="email" placeholder="Your email">
      </label>
    </div>
    <div>
      <label>
        Text:
        <input formControlName="text" placeholder="Your message">
      </label>
    </div>
    <button type="submit">Send</button>
  </form>

  <button (click)="addFromTwitter()">Send</button>

</div>

<div *ngIf="sh == 2">
  <div>
  <button class="btn btn-danger" (click)="addFromTwitter()">Big fat button to fetch tweets from Twitter</button>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Source</th>
          <th scope="col">Text</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let tweet of twitterTweets">
        <th scope="row"></th>
        <td>{{tweet.source}}</td>
        <td>{{tweet.text}}</td>
      </tr>
    </tbody>
    </table>
  </div>
  </div>
